@use "../../../variables" as *;
@use "../../../mixins" as *;

.container {
    @include flex-center;
    min-height: 70vh; 
    justify-content: center;
    padding: 1rem;
}

.card{
    width: 100%;
    max-width: 26vw;
    min-width: 26vw;
    background-color: $neutral-700;
    border: 1px solid $neutral-700;
    border-radius: $border-radius;
    padding: 20px;
}

.logo{
    width: 180px;
    height: auto;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: $neutral-100;
    text-align: center
}

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    //gap: 1rem;
    padding: 0.5rem 1rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start; //aligns children to the left
}

.input {
    width: 100%;
    padding: 0.75rem;
    //margin-bottom: 1rem;
    border: 1px solid $neutral-600;
    border-radius: 6px;
    font-size: 0.75rem;
    background-color: transparent;
    color: $neutral-600;
    box-sizing: border-box;
}

.passwordInputContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    .input{
        padding-right: 30px;
    }
}

.passwordToogleIcon{
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-color: transparent
}


.button {
    @include button-base;
    width: 100%;
    background-color: $primary-600;
    color: $neutral-100;
    font-size: 0.75rem;

    &:hover {
        opacity: 0.9;
        //background-color: $primary-600;
    }
}

.error{
    min-height: 0.7rem;
    color: $error-500;
    font-size: 0.65rem;
}

@media (min-width: $bp-tablet){
    .card{
        max-width: 25vw;
        min-width: 25vw;
        padding: 25px 35px;
    }

    .title{
        font-size: 1.7rem;
    }
}

@media (min-width: $bp-desktop){
    .card{
        max-width: 26vw;
        min-width: 26vw;
        padding: 30px 40px;
    }

    .title{
        font-size: 1.9rem;
    }
}

@media (min-width: $bp-large){
   .card{
        max-width: 28vw;
        min-width: 28vw;
   } 
}