@use "../../../variables" as *;

.page {
    --title: #{$neutral-800};
    --subtitle: #{$neutral-500};

    [data-theme='dark'] & {
        --title: #{$neutral-100};
        --subtitle: #{$neutral-400};
    }

    display: flex;
    flex-direction: column;
    gap: $gap-xl;
}

.greeting {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.01em;
    color: var(--title);
}

.subtitle {
    margin: 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: var(--subtitle);
    text-align: start;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-md;
}
